page-accordion {
    .critical{
        font-size:45px;
        padding-top:10px;
        color:#a1081d
    }

    .major{
        font-size:45px;
        padding-top:10px;
        color:#35970e
    }

    .warning{
        font-size:45px;
        padding-top:10px;
        color:#dbce1a
    }
}
